.card {
  width: 50%;
  border-radius: 20px;
  display: flex;
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
.card img {
  width: 35%;
  object-fit: fill;
  border-radius: 20px 0 0 20px;
}
.card__content {
  width: 70%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__content p {
  line-height: 1.5rem;
  color: var(--Desaturated-Dark-Blue);
}

.card__content__author {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__content__author img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}
.card__content__author__info__container {
  display: flex;
  align-items: center;
  line-height: 0;
}
.card__content__author__info p {
  margin: 0;
  padding: 0;
}

.share__icon {
  width: 2rem;
  height: 2rem;
  background-color: var(--Very-Dark-Grayish-Blue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
}

@media only screen and (max-width: 1440px) {
  .card__content h1 {
    font-size: 1.5em;
  }
  .card__content p {
    font-size: 0.9em;
  }
  .card__content {
    margin: 1rem;
  }
}

@media only screen and (max-width: 1300px) {
  .card {
    width: 70%;
  }
}

@media only screen and (max-width: 992px) {
  .card {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .card {
    width: 90%;
  }
}
@media only screen and (max-width: 680px) {
  .card {
    width: 95%;
  }
}

@media screen and (max-width: 640px) {
  .App {
    margin: 2rem auto;
  }
  .card {
    flex-direction: column;
  }
  .card img {
    width: 100%;
    height: 20rem;
    border-radius: 20px 20px 0 0;
  }
  .card__content {
    width: 90%;
    margin: 1rem auto;
  }
  .card__content__author {
    align-items: center;
  }

  .card__content__author__info__container {
    align-items: flex-start;
  }
  .card__content__author__info__container img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}
