.icons {
  background-color: var(--Very-Dark-Grayish-Blue);
  color: white;
  padding: 1rem 1.5rem;
  display: flex;
  column-gap: 1rem;
  font-size: 1rem;
  border-radius: 10px;
}

.icons span :hover {
  color: var(--Grayish-Blue);
}

@media only screen and (max-width: 1300px) {
  .icons {
    padding: 0.9rem;
  }
}
