@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap");
:root {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

body {
  font-size: 13px;
  font-family: "Work Sans", sans-serif;
  background-color: var(--Light-Grayish-Blue);
  margin: 0 auto;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 4em;
  justify-content: center;
  align-items: center;
}
