@tailwind base;
@tailwind components;
@tailwind utilities;







.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  height: 50px;
}
.card__footer__toggled {
  background-color: var(--Title);
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  height: 50px;
}

.social__media {
  background-color: var(--Title);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 18px;
}

.social__media span {
  color: var(--Text);
}

